

@mixin f700{
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
}
@mixin f500{
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
}
@mixin f400{
    font-family: "SFProDisplay-Regular", sans-serif;
    font-weight: 400;
}
@mixin f600{
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
}