@import "global";
@import "vars";
@import "../../node_modules/slick-carousel/slick/slick.scss";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  @include f700;
}
.menu__item {
  display: inline-block;
}
.menu__item + .menu__item {
  padding-left: 50px;
}
.header__box {
  display: flex;
  align-items: center;
}

.header__adress {
  margin-right: 60px;
  padding-left: 30px;
  width: 265px;
  position: relative;
}
.header__adress::before {
  content: "";
  position: absolute;
  background-image: url(../images/adress-icon.svg);
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}

.user-list {
  margin-right: 10px;
}
.user-list__item {
  display: inline-block;
  padding-right: 15px;
}
.basket {
  position: relative;
}
.basket__num {
  position: absolute;
  width: 20px;
  height: 20px;
  @include f500;
  color: #ffffff;
  line-height: 20px;
  font-size: 10px;
  background-color: #1c62cd;
  border-radius: 50%;
  bottom: -15px;
  right: -14px;
  text-align: center;
}
.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  min-height: 53px;
  @include f400;

  &__item {
    position: relative;
  }

  &__link {
    transition: all 0.3s;
    @include f400;
    padding: 15px 0px 14px;
    position: relative;
  }
  &__link::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: #1c62cd;
    height: 3px;
    bottom: 0;
    transition: all 0.3s;
    right: 0;
    left: auto;
  }

  &__link:hover {
    color: black;
    // border-bottom: 3px solid #1c62cd;
  }
  &__link:hover::before {
    width: 100%;
    right: 0;
    left: 0;
  }
}
//end header
// start slider
.banner__section-inner {
  display: flex;
  justify-content: space-between;
}

.banner__section-slider {
  max-width: 870px;
}

.banner__section-slider-btn,
.product__slider-slider-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
  z-index: 5;
  cursor: pointer;
}
.banner__section-slider-btnprev {
  left: 20px;
}

.banner__section-slider-btnnext {
  right: 20px;
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
  margin-right: 9px;
}

.slick-dots button {
  position: absolute;
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slick-active li button {
  background-color: white;
}

.sale__item {
  max-width: 265px;
  max-height: 397px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale__item-info {
  background-color: #1c62cd;
  color: #fff;
  text-transform: uppercase;

  padding: 8px 20px;
  font-size: 12px;
  line-height: 15px;
}
.sale__item-price {
  text-align: right;
}
.price {
  font-family: "Barlow", sans-serif;
  position: relative;
}
.sale__item-price-new {
  font-weight: 700;
  font-size: 27px;
  color: #1c62cd;
  line-height: 32px;
  margin-right: 6px;
  padding-right: 20px;
}
.sale__item-price-new::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons-price.svg);
  width: 15px;
  height: 18px;
  right: 0;
  bottom: 6px;
}

.sale__item-price-old {
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
  line-height: 17px;
  margin-right: 15px;
  background-image: url(../images/old-line.svg);
  display: inline-block;
  padding: 2px 5px;
  background-repeat: no-repeat;
}

.sale__item-price-old::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons-price-old.svg);
  width: 8px;
  height: 10px;
  right: -10px;
  top: 5px;
  color: #c4c4c4;
}
.sale__item-title {
  @include f700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 7px;
}
.sale__item-footer {
  background-color: #f0f0f4;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 22px;
  @include f400;
}
.sale__item-footer span {
  display: block;
  font-family: "Barlow";
  font-weight: 700;
  color: #1c62cd;
  font-size: 18px;
  line-height: 22px;
}

.banner__section-slider-img {
  object-fit: cover;
  min-height: 400px;
}
.sale__item-img {
  object-fit: contain;
}
//end slider

//start section search

.search__tabs-item {
  padding: 12px 26px 12px;
  margin-bottom: 25px;
}
.search__tabs-item.tab-active {
  border-radius: 5px;
  background: #f0f0f4;
  @include f700;
}

.tabs__content {
  display: none;
}
.tabs__content.tabs__content-active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  border: none;
  padding: 15px 20px;
  @include f400;
  background: #f0f0f4;
  font-size: 16px;
  line-height: 20px;
  border-radius: 3px;
  width: 100%;
}

.search__content-input::placeholder {
  color: #656464;
}

.search__content-btn {
  background: #1c62cd;
  color: #ffffff;
  padding: 17px 40px;
  @include f700;
  line-height: 17px;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;
  margin-left: -3px;
}
//end section search

//start CATEGORIES
.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  margin-bottom: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  justify-content: space-between;
  transition: all 0.3s;
}

.categories__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
}
.categories__item-title {
  font-family: "Barlow", sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
  transition: all 0.3s;
}
.categories__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.categories__item:hover .categories__item-title {
  color: #1c62cd;
}
.categories__item-text {
  @include f400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  position: relative;
}
.categories__item-text::after {
  content: url("../images/link-arrow.svg");
  position: absolute;
}
//end CATEGORIES

//start PRODUCTS
.products {
  margin-bottom: 80px;
}
.product__item-wrapper {
  position: relative;
  width: 271px;
}

.product__item {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 0.3s;
  text-align: center;
  padding: 52px 20px 31px;
  min-height: 400px;
}

.product__item-title {
  padding: 14px 0px 25px;
  @include f400;
  font-size: 18px;
  line-height: 21px;
}

.product__item-favourite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.product__item-favourite::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url("../images/favourite.svg");
}
.product__item-favourite--active::before {
  background-image: url("../images/favourite-active.svg");
}

.product__item-basket {
  position: absolute;
}

.product__item-price {
  font-family: "Barlow  ", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.product__item-basket {
  position: absolute;
  background: #1c62cd;
  border-radius: 10px 0px 0px 0px;
  width: 60px;
  height: 40px;
  border: none;
  bottom: 0;
  right: 0;
  padding-top: 7px;
  cursor: pointer;
  z-index: 10;
}
.product__item__hover-text {
  @include f400;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  top: 30%;
  transition: all 0.3s;
}
.product__item:hover .product__item__hover-text {
  opacity: 1;
  color: #2f3035;
}
.product__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: #1c62cd;
}

.product__item:hover .product__item-notify-text {
  color: #2f3035;
}
.product__item-sale::before {
  content: "SALE";
  color: #fff;
  width: 63px;
  height: 25px;
  background-color: #1c62cd;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px 8px;
  @include f400;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.product__item-wrapper.product__item-not-available .product__item-price {
  display: none;
}
.product__item-notify-text {
  display: none;
}
.product__item-wrapper.product__item-not-available .product__item-notify-text {
  display: block;
}
.product__item-wrapper.product__item-not-available .product__item-basket {
  display: none;
}

.product__item-notify-text {
  @include f700;
  font-size: 18px;
  line-height: 21px;
  color: #2f3035;
}

.product__item-notify-link {
  @include f400;
  font-size: 16px;
  line-height: 18px;
  color: #1c62cd;
  display: none;
}

.product__item-wrapper.product__item-not-available .product__item-title {
  padding-bottom: 13px;
}

.product__item-wrapper.product__item-not-available .product__item-notify-link {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.product__item-wrapper.product__item-not-available .product__item-notify-link span {
  border-bottom: 1px solid #1c62cd;
}

.products__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700px;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.products__tab + .products__tab {
  margin-left: 50px;
}
.products__tabs {
  margin-bottom: 25px;
}
.products__tab {
  padding-bottom: 12px;
}
.products__tab.tab-active {
  border-bottom: 2px solid #1c62cd;
}

.product__slider-slider-btnprev {
  left: -20px;
}

.product__slider-slider-btnnext {
  right: -20px;
}

.slick-slide img {
  display: inline;
}
.product__link {
  text-align: center;
  margin: 35px 0 80px;
}
.product__link-more {
  @include f400;
  font-size: 15px;
  line-height: 18px;
  background-color: #f0f0f4;
  text-transform: uppercase;
  text-align: center;
  color: #2f3035;
  padding: 17px 43px;
  letter-spacing: 0.12em;
}
//end PRODUCTS

//start section BANNER
.banner {
  margin-bottom: 80px;
}
//end section BANNER

//start footer
.footer {
  background-color: #f0f0f4;
}

.footer__bottom {
  padding: 46px 0 24px;
  display: flex;
  justify-content: center;
}
.footer__bottom-link {
  @include f400;
  font-size: 10px;
  line-height: 12px;
  color: #48494d;
  margin: 0px 40px;
}

.footer__top {
  padding-top: 43px;
}
.footer__top-inner {
  display: flex;
  justify-content: space-between;
}
.footer__top-newslatter.footer__top-item {
  width: 295px;
  margin-right: 50px;
   
}
.footer__top-title {
  @include f700;
  font-size: 14px;
  line-height: 17px;
  color: #2f3035;
}

.footer__form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.footer__form-input {
  background-color: white;
  padding: 0 12px;
  border: none;
  @include f400;
  font-size: 14px;
  line-height: 17px;
}
.footer__form-input::placeholder {
  color: #c4c4c4;
}
.footer__form-btn {
  padding: 10px 16px;
  @include f600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #1c62cd;
  border: none;
}
.footer__top-item {
  width: 200px;
}
.footer__list {
  font-size: 14px;
  line-height: 22px;
}

.footer__top-social.footer__top-item{
  width: 250px;

}
.social__list{
  display: flex;
  align-items: center;
  height: 100%;

}

.social__list-item + .social__list-item{margin-left: 30px;}
//end footer
